<app-after-login-nav [token]="token"></app-after-login-nav>
<!-- Add Experience -->

<div class="section add-experience">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <a routerLink="/dashboard/{{ token }}" class="btn btn-light">
          Go Back
        </a>

                <h1 class="display-4 text-center">Add Your Experience</h1>

                <p class="lead text-center">
                    Add any developer/programming positions that you have had in the past
                </p>

                <small class="d-block pb-3">* field require</small>

                <form (ngSubmit)="Submit($event)">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" placeholder="* Job title" name="title" [(ngModel)]="title" required />
                        <small style="color: red" *ngIf="errors">
              {{ errors.title }}
            </small>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" placeholder="* Company" name="company" [(ngModel)]="company" required />
                        <small style="color: red" *ngIf="errors">
              {{ errors.company }}
            </small>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Location" name="location" [(ngModel)]="location" />
                    </div>

                    <h6>From Date</h6>

                    <div class="form-group">
                        <input type="date" class="form-control form-control-lg" name="from" [(ngModel)]="from" required />
                        <small style="color: red" *ngIf="errors">
              {{ errors.from }}
            </small>
                    </div>

                    <h6>To Date</h6>

                    <div class="form-group">
                        <input type="date" class="form-control form-control-lg" name="to" [(ngModel)]="to" />
                    </div>

                    <div class="form-check mb-4">
                        <input class="form-check-input" type="checkbox" name="current" value="" id="current" [(ngModel)]="current" />

                        <label class="form-check-label" for="current"> Current Job </label>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control form-control-lg" placeholder="Job Description" name="description" [(ngModel)]="description"></textarea>

                        <small class="form-text text-muted">Some of your responsabilities, etc</small
            >
          </div>

          <input type="submit" class="btn btn-info btn-block mt-4" />
        </form>
      </div>
    </div>
  </div>
</div>